body {
    background-image: url(https://i.stack.imgur.com/jGlzr.png);
    text-align: center
}  

section {
    position: relative;
}

p {
    font-family: 'Bungee', sans-serif;}

span {
    font-weight: 700;
}

h1 {
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size:  9px;
}